@using LexiconLMS.Shared.DTOs;


<div id="courseModules" style="

        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        width: 100%;

">
    @{
        if (courseSelected == null)
        {
            <h3>Välj kurs du vill ha information om</h3>
        }
        else
        {
            var editCourse = "course";
            var editCourseId = courseSelected.Id;
            <h1>@courseSelected.Name</h1>
            <EditButton StartEditing="()=>openEdit(editCourse, editCourseId)" Top=" -10px" Left="-4px"></EditButton>
        
            <p>Kursbeskrivning:&nbsp;@courseSelected.Desc</p>

    
            if (courseSelected.Modules == null)
            {
                <p>Finns inga moduler inlagda på denna kurs</p>
            }
            else
            {
                var editModule = "module";
                var editModuleId = @courseSelected.Id;
                var editActivity = "activity";

                <ModuleActivitiesTeachers forEditingModules="()=>openEdit(editModule, editModuleId)" forEditingActivities="()=>openEdit(editActivity)" courseSelectedModules="@courseSelected.Modules" />
            }
        }
    }


</div>

<Modal @ref="Modal" />

@code {



    [Parameter]
    public CourseDto courseSelected { get; set; }

    private void doSomething()
    {
        Console.WriteLine("courseSelected: " + courseSelected);
    }



    public Modal? Modal { get; set; }

    private void openEdit(string editName, int id=0)
    {
        Console.WriteLine("Open for edit...: " + editName);
        Modal?.Open();

        

        switch (editName)
        {
            case  "course":
                Console.WriteLine($"Course with id {id}.");

                break;

            case "module":
                Console.WriteLine($"Module with id {id}.");
                break;

            case "activity":
                Console.WriteLine($"Activity with id {id}.");
                break;

            default:
                Console.WriteLine("found nothing to edit");
                break;
        }

    }

}